/**
 * file: css/Index.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
    /* Farvepalette: */
       --denim: #2c60bb;
       --dodgerblue: #3392ff;
       --white: #ffffff;
       --gray: #ededed;
       --black: #000000;
       --coquelicot: #ff3000;
       --persimmon: #f35b04;
       --orange: #f47e3e;
   }

   html {
    overflow-x: hidden;
    width: 100%;
}

header {
    max-width: 100%;
    top: 0;
    margin-bottom: 3%;
}

#headerbillede {
    max-width: 70%;
    height: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-left: 45%;
}

nav, .menupunkter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    margin-right: 43%;
}

.menupunkter a {
    font-size: 200%;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 20%;
    color: var(--black);
}

body {
    font-family: 'roboto';
    text-align: center;
}

#blob {
    margin-top: 0%;
    width: 100%;
    height: auto;
    right: 0;
    left: 0;
    position: relative;
    z-index: -1;
}

.animatics {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h2{
    font-family: 'roboto';
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.product-section {
    width: 60%;
    height: auto;
    position: absolute;
    right: -2%;
    background-color: var(--gray);
    border-radius: 15px;
    border: 3px solid var(--coquelicot);
    margin-top: -60%;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.produkter1 {
    padding-left: 10%;
}

.produkter {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 20%;
}

.Billeder img {
    width: 8rem;
}

button {
    width: 100%;
    height: 60%;
    background-color: var(--persimmon);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    line-height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.knap {
    margin-top: 15%;
}

button:hover {
    background-color: var(--dodgerblue);
}

footer{
    background-color: #ff3000;
    margin-top: -8rem;
}

.footerindhold {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3rem;
}

.findos {
    margin-top: -3rem;
}

.somelogoer{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.somelogoer img {
    height: 3rem;
}

h3{
    font-family: 'roboto';
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
}

p {
    font-family: 'roboto';
    color: var(--white);
    font-weight: 400;
    line-height: 2rem;
}

.footer-section {
    margin-top: -3rem;
}