/**
 * file: css/Index.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
    /* Farvepalette: */
       --denim: #2c60bb;
       --dodgerblue: #3392ff;
       --white: #ffffff;
       --frenchgray: #a8a9ad;
       --black: #000000;
       --coquelicot: #ff3000;
       --persimmon: #f35b04;
       --orange: #f47e3e;
   }


body {
    background-image: url("Images/baggrundforside.png");
    background-size: cover;
    background-position: center;
}

