/**
 * file: css/Index.css
 * purpose: styling
 **/

/* Definerer variabler i :root for genanvendelige farver */
:root {
    /* Farvepalette: */
       --denim: #2c60bb;
       --dodgerblue: #3392ff;
       --white: #ffffff;
       --gray: #ededed;
       --black: #000000;
       --coquelicot: #ff3000;
       --persimmon: #f35b04;
       --orange: #f47e3e;
   }

/* Grundlæggende styling for HTML der forhindrer horisontalt scrool */
   html {
    overflow-x: hidden;
    width: 100%;
}

/* Styling af header */
header {
    max-width: 100%;
    top: 0;
    margin-bottom: 3%;
}

/* Styling og placering logo */
#headerbillede {
    max-width: 70%;
    height: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-left: 45%;
}

/* Flex af navigationsbaren og menupunkterne */
nav, .menupunkter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Placering af navigationsbaren */
.navbar {
    margin-right: 43%;
}

/*Styling og placering af menupunkterne*/
.menupunkter a {
    font-size: 200%;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 20%;
    color: var(--black);
}

/*Typografi og placering til menupunkterne*/
body {
    font-family: "roboto", Helvetica, sans-serif;
    text-align: center;
}

/* Styling og placering af bølge-baggrund */
#blob {
    margin-top: 0%;
    width: 100%;
    height: auto;
    right: 0;
    left: 0;
    position: relative;
    z-index: -1;
}

/* Videoen der kører lige under headeren */
.animatics {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Typografi, størrelse og udseende på tekst*/
h2{
    font-family: "roboto", Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

/* Styling og placering af container lige under videoen, samt flex af indhold */
.product-section {
    width: 60%;
    height: auto;
    position: absolute;
    right: -2%;
    background-color: var(--gray);
    border-radius: 30px;
    border: 3px solid var(--coquelicot);
    margin-top: -62%;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

/*Placering af tekst i container*/
.produkter1 {
    padding-left: 10%;
}

/*Placering og flex af billeder i container*/
.produkter {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 10%;
    padding-left: 20%;
}

/*Størrelse på billeder i container*/
.Billeder img {
    width: 12rem;
}

/*Hover effekt på billederne*/
.Billeder:hover{
    transform:scale(1.1);
    transition: .5s ease;
  }

/*Styling af knap i container*/
button {
    width: 200px;
    height: 60%;
    background-color: var(--persimmon);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 40px;
}

/*Placering af knap*/
.knap {
    margin-top: 20%;
}

/*Hover effekt på knap, der ændrer farven på den når man holder musen over*/
button:hover {
    background-color: var(--dodgerblue);
}

/*Baggrundsfarve og placering af footer, så den hænger sammen med bølgen*/
footer{
    background-color: #ff3000;
    margin-top: -8rem;
}

/*Flex og placering af indhold i footeren*/
.footerindhold {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3rem;
}

/*Placering af SOME logoer (venstre side i footeren)*/
.findos {
    margin-top: -3rem;
}

/*Flex af SOME logoer og mellemrum imellem dem*/
.somelogoer{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

/*Størrelse på SOME logoer*/
.somelogoer img {
    height: 3rem;
}

/* Typografi, størrelse og udseende på tekst*/
h3{
    font-family: "roboto", Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
}

/* Typografi, størrelse og udseende på tekst*/
p {
    font-family: "roboto", Helvetica, sans-serif;
    color: var(--white);
    font-weight: 400;
    line-height: 2rem;
}

/*Placering af kontakt infomationer (højre side i footeren)*/
.footer-section {
    margin-top: -3rem;
}