html {
    overflow-x: hidden;
    width: 100%;
}

header {
    max-width: 100%;
    top: 0;
    color: black;
}

#headerbillede {
    max-width: 70%;
    height: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-left: 45%;
}

nav, .menupunkter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    margin-right: 43%;
}

.menupunkter a {
    font-size: 200%;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 20%;
}

body {
    font-family: 'roboto';
}

#blob {
    margin-top: 3%;
    width: 100%;
    height: auto;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.produktcontainer {
    max-width: 68%; /* Justér efter behov */
    margin: 30% -2%;
    padding: 20px;
    background-color: #ededed;
    border-radius: 15px;
    border: 2px solid #e63925;
    text-align: center;
    margin-right: 20%;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

.produkter {
    display: block;
    flex-direction: column;
    max-width: 100%;
}

.produkt {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.produkt img {
    max-width: 50%; /* Justér billedstørrelse */
}

.produkt p {
    flex: 1;
    font-size: 1rem;
    text-align: center;
}