/**
 * file: css/quiz.css
 * purpose: styling
 **/

/* Definerer variabler i :root for genanvendelige farver */
:root {
    /* Farvepalette: */
       --denim: #2c60bb;
       --dodgerblue: #3392ff;
       --white: #ffffff;
       --gray: #ededed;
       --black: #000000;
       --coquelicot: #ff3000;
       --persimmon: #f35b04;
       --orange: #f47e3e;
}

body {
    font-family: "roboto", Helvetica, sans-serif;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    align-items: center;
}

/* Styling og placering logo */
#headerbillede {
    max-width: 15%;
    height: auto;
    margin-top: 2%;
}

#blob {
    margin-top: -16%;
    width: 13%;
    height: auto;
    right: 0;
    position: absolute;
    z-index: -1;
}

.quiz-container {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

.question {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.option-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    background-color: var(--gray);
    border: 2px solid var(--coquelicot);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.option:hover {
    background-color: #ff5500;
    color: var(--white);
}

.result-img {
    margin-top: 5%;
    width: 200px;
    height: auto;
    margin-left: 34%;
    margin-bottom: 5%;
}

.back-button {
    background-color: var(--dodgerblue);
    border: none;
    color: var(--white);
    width: 60%;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0 auto;
}

.back-button:hover {
    background-color: #ff5500;
    color: var(--white);
}
